.container {
  display: flex;
  flex-direction: row;
}
.avatar {
  margin: 0.5rem;
  padding: 0.5rem;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
}
.msgBox {
  background-color: #fff;
  border-radius: 1rem;
  width: "85%";
  margin: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.msgDetailBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
}
.msgDetailUsernameAndHowLongAgo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.username {
  color: green;
  font-weight: bold;
  margin: 0.5rem;
  padding: 0.5rem;
}
.time {
  color: darkgray;
  margin: 0.5rem;
  padding: 0.5rem;
}
