.container {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.title {
  /* display: flex;
  flex-direction: row;
  justify-self: center; */
  /* background-color: #fff; */
  width: 100%;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
}
.msgBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: sticky;
  bottom: 0;
  /* margin: 0 auto; */
  border: 0;
  font-family: "Lato", sans-serif;
  background-color: #fef7e6;
  margin-top: 3rem;
}
.textInput {
  height: 5rem;
  width: 100%;
  border: 0;
  border-radius: 1rem;
  background-color: #fff;
  margin: 0.5rem;
  padding: 0.5rem;
  font-family: "Open Sans", sans-serif;
  color: #333;
  font-size: 1.8rem;
}
.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #009900;
  margin: 0.5rem;
  padding: 0.5rem;
  height: 5rem;
  border: 0;
  width: 100%;
}
.buttonText {
  color: #fff;
  font-size: 3rem;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
}
.msgList {
  height: 100%;
  position: relative;
  min-height: 100vh;
}
.warningText {
  font-size: 1.2rem;
  margin-left: 2vw;
}
.background {
  background-color: #009900;
  min-width: 100%;
  min-height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.previewBox {
  width: 36rem;
  height: 64rem;
  background-color: #009900;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textFont {
  color: #fff;
  padding: 1.5rem;
  font-size: 2.6rem;
  line-height: 1.5;
  font-weight: bold;
}
.img {
  width: 100%;
  border-radius: 1rem;
}
.toggleBbutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #fff;
  border: 0.5rem solid #009900;
  margin: 1rem 0 1rem 0;
  /* padding: 0.5rem; */
  height: 5rem;
  width: 36rem;
}
.toggleButtonText {
  color: #009900;
  font-size: 2rem;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
}

@media (min-width: 0px) and (max-width: 567px) {
  .previewBox {
    width: 100%;
    margin: 0 auto;
    /* height: calc(var(--width) * 36%); */
    /* margin-top: 1rem; */
  }
  .textFont {
    color: #fff;
    padding: 0.5rem;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: bold;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) and (max-width: 1365px) {
}
@media (min-width: 1366px) {
}
